  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="http://gravatar.com/avatar/efb0e10d732dd2e36b7ff434a617160e?s=500">
          <span class="card-title">Juan Jose Herrero Barbosa</span>
        </div>
        <div class="card-content">
          <p>Cerebro y manos del proyecto. Codigo que esta mal, culpa de Juanjo...</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href='#'>This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="http://gravatar.com/avatar/efb0e10d732dd2e36b7ff434a617160e?s=500">
          <span class="card-title">Roberto Barbera Hernandez</span>
        </div>
        <div class="card-content">
          <p>Disenador y bug-hunter. Si es bonito, es de Rober...</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href='#'>This is a link</a>
        </div>
      </div>
    </div>
  </div>