  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="http://gravatar.com/avatar/<%= md5('soulerhyd@gmail.com') %>?s=500&d=identicon">
          <span class="card-title">Juan Jose Herrero Barbosa</span>
        </div>
        <div class="card-content">
          <p>Cerebro y manos del proyecto. Codigo que esta mal, culpa de Juanjo...</p>
        </div>
        <div class="card-action">
          <a href="https://github.com/Souler"><i class="fa fa-2x fa-github"></i></a>
          <a href="https://es.linkedin.com/pub/juan-josé-herrero-barbosa/89/a7a/840"><i class="fa fa-2x fa-linkedin"></i></a>
          <a href='https://twitter.com/dark_xuan'><i class="fa fa-2x fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="http://gravatar.com/avatar/<%= md5('robertobarbera1992@gmail.com') %>?s=500&d=identicon">
          <span class="card-title">Roberto Barbera Hernandez</span>
        </div>
        <div class="card-content">
          <p>Disenador y bug-hunter. Si es bonito, es de Rober...</p>
        </div>
        <div class="card-action">
          <a href="https://github.com/rbarbera92"><i class="fa fa-2x fa-github"></i></a>  
        </div>
      </div>
    </div>
  </div>