<h4 class="orange-text text-darken-1 center">El portal donde podra crear sus propios juegos</h4>
<div class="row">
	<div class="col m4 s12">
		<p class="center">
			<i class="orange-text text-darken-4 fa fa-github fa-4x"></i>
		</p>
		<h5 class="center">Codigo abierto y comunitario</h5>
		<p class="center">Todo el codigo disponible en el repositirio del proyecto de forma que cualquiera puede colaborar y contribuir</p>
	</div>
	<div class="col m4 s12">
		<p class="center">
			<i class="orange-text text-darken-4 fa fa-graduation-cap fa-4x"></i>
		</p>
		<h5 class="center">Caracter academico</h5>
		<p class="center">Ante todo, esto es un proyecto realizado por estudiantes que intentan demostrar lo aprendido, por lo que siempre habra fallos y ante todo la voluntad de solucionarlos y aprender de ellos</p>
	</div>
	<div class="col m4 s12">
		<p class="center">
			<i class="orange-text text-darken-4 fa fa-html5 fa-4x"></i>
		</p>
		<h5 class="center">Puntero en tecnologia</h5>
		<p class="center">La plataforma hace uso de los ultimos estandares y lenguajes, permitiendo asi aprender sobre la marcha de la tecnologia mas puntera en el campo del desarrollo web.</p>
	</div>
</div>