<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>El portal donde podra crear sus propios juegos</p>
    <footer>
        <a href='https://github.com/Souler/quiz' target='_blank'>GitHub</a>
    </footer>
  </body>
</html>
