<!DOCTYPE html>
<html lang='es'>
  <head>
  	<meta charset='utf8'>
    <title>Quiz. El juego de preguntas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
  </head>
  <body>
  	<header>
  		<h2>Quiz. El juego de las preguntas</h2>
  	</header>
  	<nav>
  		<ul>
  			<li><a href='/'>Inicio</a></li>
  			<li><a href='/quizes/question'>Preguntas</a></li>
  			<li><a href='/author'>Autores	</a></li>
  		</ul>
  	</nav>
  	<%- body %>
    <footer>
        <a href='https://github.com/Souler/quiz' target='_blank'>GitHub</a>
    </footer>
  </body>
</html>
