<h4>Acceso</h4>
<div class="row">
<form method="post" action="/login">
  <div class="input-field col s12">
    <i class="mdi-action-account-circle prefix"></i>
    <input id="login" name="login" type="text" class="validate">
    <label for="login">Nombre de usuario</label>
  </div>
  <div class="input-field col s12">
    <i class="mdi-action-lock prefix"></i>
    <input id="pass" name="pass" type="password" class="validate">
    <label for="pass">Contrasena</label>
  </div>
  <button class="btn waves-effect waves-light" type="submit">
  	<span>Acceder</span>
    <i class="mdi-content-send right"></i>
  </button>
</form>
</div>