header, main, footer {
	padding-left: 240px;
	}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

.bold {
	font-weight: bold;
}


header h1 .sub {
	font-size: 50%;
	line-height: 4.2rem;
}

.side-nav li.profile {
	padding-bottom: 10px;
}

.side-nav li.profile img {
	margin: 10px 0;
}

.side-nav li.profile .email, .side-nav li.profile .username {
	font-size: 0.9em;
}

footer {
	line-height: 40px
}

footer i.fa-github {
	position: relative;
	top: 6px;
}

.button-collapse {
	position: absolute;
	top: 0;
	left: 10px;
	color: #fff;
}

ul.side-nav.fixed li a {
	font-size: 13px;
	line-height: 44px;
	height: 44px;
}

.orange.darken-2 {
	color: white;
}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
	flex: 1 0 auto;
}

header .container .row {
	margin-bottom: 0;
}

.pagination-container {
	text-align: center;
}

.pagination-container > .pagination {
	display: inline-block;
}

.pagination-container > .pagination > li.active {
	background-color: #26A69A;
}

.pagination-container > .pagination > li > a {
	position: relative;
	top: 3px;
}
