<h4 class="orange-text text-darken-1 center"><%= q.question %></h4>
<% if (correct) { %>
<h5 class="center">
	<i class="green-text fa fa-check"></i>
	<%= q.answer %>
</h5>
<% } else { %>
<h5 class="center">
	<i class="red-text fa fa-times"></i>
	<%= answer %>
</h5>
<% } %>
