<h3>Pregunta: <%= q.question %></h3>
<p>La respuesta correcta: <%= q.answer %></p>
<p>Tu respuesta: <%= answer %></p>
<% if (correct) { %>
<p>Respuesta CORRECTA</p>
<% } else { %>
<p>Respuesta INCORRECTA</p>
<% } %>
