<h4>Editar una pregunta</h4>
<form method="post" action="/quizes/<%= q.id %>">
  <div class="row">
  	<input name="_method" type="hidden" value="PUT">
    <div class="input-field col s12">
      <input name="quiz[question]" id="question" type="text" value="<%- q.question %>">
      <label for="question">Pregunta</label>
    </div>
    <div class="input-field col s12">
      <input name="quiz[answer]" id="answer" type="text" value="<%- q.answer %>">
      <label for="answer">Respuesta</label>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Guardar cambios
    <i class="mdi-content-send right"></i>
  </button>
</form>