<form method="post" action="/quizes/<%= quiz.id %>" enctype="multipart/form-data">
  <input name="_method" type="hidden" value="PUT">
  <div class="row">
    <div class="input-field col s12">
      <input name="quiz[question]" id="question" type="text" value="<%- quiz.question %>">
      <label for="question">Pregunta</label>
    </div>
    <div class="input-field col s12">
      <input name="quiz[answer]" id="answer" type="text" value="<%- quiz.answer %>">
      <label for="answer">Respuesta</label>
    </div>
    <div class="input-field col s12">
      <input name="quiz[image]" id="image" type="file" accept="image/*" value="<%- quiz.answer %>">
      <label for="image">Imagen <i>(opcional)</i></label>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Guardar cambios
    <i class="mdi-content-send right"></i>
  </button>
</form>