<h4><%= q.question %></h4>
<form method="get" action="/quizes/<%= q.id %>/answer">
  <% if (q.image) { %>
  <div class="row center">
  	<img src="/media/<%= q.image %>"/>
  </div>
  <% } %>
  <div class="row">
    <div class="input-field col s12">
      <input name="a" id="a" type="text" required>
      <label for="a">Respuesta</label>
    </div>
  </div>
	<button class="btn waves-effect waves-light" type="submit">Enviar
	  <i class="mdi-content-send right"></i>
	</button>
</form>
<h5>Comentarios</h5>
<%- include('../comments/list') %>